.dropdown-toggle::after {
    content: none
}

.error {
    margin-top: 8px;
    font-size: .75rem !important;
    width: 100%;
    color: #e74c3c;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item {
    padding: .5rem .75rem;
}

.muted {
    color: #C4CFF9
}

.span-titik {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    content: " ";
    background: #e7e8ef;
    margin: 2px 5px;
}

ul.navbar-nav.sidebar {
    -webkit-box-shadow: -3px 0px 26px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -3px 0px 26px 0px rgba(0,0,0,0.5);
    box-shadow: -3px 0px 26px 0px rgba(0,0,0,0.5);
    z-index: 1000;
    font-size: 1rem !important;
}

ul.navbar-nav.sidebar.bg-gradient-white li a {
    color: #4A4F67 !important;
}

ul.navbar-nav.sidebar.bg-gradient-white li:hover a {
    color: #6982FF !important;
}

ul.navbar-nav.sidebar.bg-gradient-white li a i {
    color: #EDF1FD;
}

ul.navbar-nav.sidebar.bg-gradient-white li:hover a i,
ul.navbar-nav.sidebar.bg-gradient-white li.active a i {
    color: #C4CFF9;
}

/* ul.navbar-nav.sidebar li {
    position: relative;
}

ul.navbar-nav.sidebar li i {
    position: absolute;
    top: 22px;
    left: 20px;
}

ul.navbar-nav.sidebar li a {
    padding-left: 47px !important;
}

ul.navbar-nav.sidebar.toggled li i {
    position: static;
}

ul.navbar-nav.sidebar.toggled li a {
    padding: 20px !important;
    /* padding-left: 20px ; */
/* } */

body {
    color: #565568;
}

.table {
    color: #565568;
}

/* ul.navbar-nav.sidebar.toggled li a span {
    display: none !important;
}

ul.navbar-nav.sidebar.toggled li:hover a {
    width: 224px;
    background-color: #F8F8FB;
}

ul.navbar-nav.sidebar.toggled li:hover a span {
    display: block !important;
}

ul.navbar-nav.sidebar.toggled li:hover {
    position: relative;
}

ul.navbar-nav.sidebar.toggled li:hover i {
    position: absolute;
    top: 25px;
    left: 46px;
}

ul.navbar-nav.sidebar.toggled li:hover a {
    padding: 20px !important;
    padding-left: 47px !important;
} */

ul.navbar-nav.sidebar.bg-gradient-white li.active,
ul.navbar-nav.sidebar.bg-gradient-white li:hover {
    background-color: #F8F8FB;
}

ul.navbar-nav.sidebar.bg-gradient-white .sidebar-brand {
    color: #4A4F67;
}

table.table.dataTable {
    margin-top: 0px !important;
    width: 100% !important;
}

.sidebar .sidebar-brand {
    text-align: left;
}

.sidebar {
    width: 20rem !important;
}

.sidebar .sidebar-brand {
    height: auto;
    min-height: 4.375rem;
}

ul.navbar-nav.sidebar.toggled .sidebar-brand .brand-title {
    display: none;
}

ul.navbar-nav.sidebar.toggled .sidebar-brand .sidebar-brand-icon .img {
    margin: 0 !important;
}

ul.navbar-nav.sidebar.toggled .sidebar-brand.justify-content-left {
    justify-content: center !important;
}

.dataTables_info {
    padding-left: 15px;
    padding-bottom: 15px;
}

.w-aksi {
    border-top: 1px solid #EFF0F6;
}

.dataTables_paginate {
    padding-right: 15px;
    padding-bottom: 15px;
}

.sidebar .nav-item .nav-link[data-toggle=collapse].collapsed::after,
.sidebar .nav-item .nav-link[data-toggle=collapse]::after {
    content: '';
}

.sidebar .nav-item .collapse, .sidebar .nav-item .collapsing {
    margin: 0;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    padding: 0.5rem 1.8rem;
}

table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
    padding-right: 20px;
}

#wrapper #content-wrapper {
    background-color: #E3E4E9;
}