.file-preview .fileinput-remove {
    top: 6px !important;
    right: 5px !important;
}

.kv-preview-data {
    width: 100% !important;
}

.krajee-default.file-preview-frame .kv-file-content {
    height: auto !important;
}

.krajee-default .file-footer-caption {
    margin-bottom: 10px !important;
}